<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Welcome!{% endblock %}</title>
<link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/app/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
<!-- Toastr style -->
<link href="{{ asset('bundles/app/css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">
<!-- Gritter -->
<link href="{{ asset('bundles/app/js/plugins/gritter/jquery.gritter.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/app/css/animate.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/app/css/plugins/chosen/chosen.css') }}" rel="stylesheet">
{% block stylesheets %}{% endblock %}
</head>
<body>
<div id="wrapper">
{% block menu %}
<nav class="navbar-default navbar-static-side" role="navigation">
<div class="sidebar-collapse">
<ul class="nav" id="side-menu">
<li class="nav-header">
<div class="dropdown profile-element"> <span>
<img alt="image" style="width: 99%;" src="{{ asset('bundles/app/images/logo.png')}}" />
</span>
<a data-toggle="dropdown" class="dropdown-toggle" href="#">
<span class="clear"> <span class="block m-t-xs">
<!--<strong class="font-bold">David Williams</strong>-->
</div>
<div class="logo-element">
W
</div>
</li>
<li class="active">
<a href="{{ path('homepage') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Tablero de reportes</span> </a>
</li>
<li >
<a href="{{ path('maclist') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Mac list</span> </span></a>
</li>
<li >
<a href="{{ path('suricata-homepage') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Reglas IPS</span> </span></a>
</li>
<li >
<a href="{{ path('usuario') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Usuarios</span> </a>
</li>
<li>
<a><i class="fa fa-th-large"></i><span class="nav-label">Reportes</span> <span class="fa arrow"></span></a>
<ul class="nav" id="side-menu">
<li class="active1">
<a><i class="fa fa-th-large"></i><span class="nav-label">Administration</span> <span class="fa arrow"></span></a>
<ul class="nav" id="side-menu">
<li>
<a href="https://192.168.0.153:444/settings"><span class="">General settings</span></a>   
</li> 
<li>
<a href="https://192.168.0.153:444/classifications"><span class="nav-label">Classifications</span> </a>   
</li>
<li>
<a href="https://192.168.0.153:444/sensors"><span class="nav-label">Sensors</span> </a>   
</li>
<li>
<a href="https://192.168.0.153:444/lookups"><span class="nav-label">Lookup Sources</span></a>   
</li>
<li>
<a href="https://192.168.0.153:444/asset_names"><span class="nav-label">Asset Name Manager</span> </span></a>   
</li>
<li>
<a href="https://192.168.0.153:444/severities"><span class="nav-label">Severities</span> </a>   
</li>
<li>
<a href="https://192.168.0.153:444/signatures"><span class="nav-label">Signatures</span> </span></a>   
</li>
<li>
<a href="https://192.168.0.153:444/users"><span class="nav-label">Users</span> </a>   
</li>
<li>
<a href="https://192.168.0.153:444/jobs"><span class="nav-label">Worker & Job Queue</span> </a>   
</li>
</ul>   
</li>
<li>
<a href="https://192.168.0.153:444/dashboard"><i><img src="{{ asset('bundles/app/images/dashboard.png')}}" /></i><span class="nav-label">Dashboard</span> </a>   
</li>
<li>
<a href="https://192.168.0.153:444/events/queue"><i><img src="{{ asset('bundles/app/images/queue.png')}}" /></i><span class="nav-label">My Queue</span> </a>   
</li>
<li>
<a href="https://192.168.0.153:444/events/sessions"><i><img src="{{ asset('bundles/app/images/evt.png')}}" /></i><span class="nav-label">Events</span> </a>   
</li>
<li>
<a href="https://192.168.0.153:444/sensors"><i><img src="{{ asset('bundles/app/images/sensors.png')}}" /></i><span class="nav-label">Sensors</span> </a>   
</li>
<li>
<a href="https://192.168.0.153:444/search"><i><img src="{{ asset('bundles/app/images/search.png')}}" /></i><span class="nav-label">Search</span> </a>   
</li>
</ul>
</li>
</ul>
</div>
</nav>
{% endblock %}
<div id="page-wrapper" class="gray-bg dashbard-1">
<div class="row border-bottom">
<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
<div class="navbar-header">
<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
</div>
{% block mensajes %}
<ul class="nav navbar-top-links navbar-right">
<li>
<span class="m-r-sm text-muted welcome-message">Bienvenido  
<!--{{ app.security.getToken().getUser().getUsername() }} -->
{% if app.user %}
{{ app.user.username }} 
{% endif %}</span>
</li>
<li>
<a href="{{ path('logout') }}">
<i class="fa fa-sign-out"></i> Log out
</a>
</li>
</ul>
{% endblock %}
</nav>
</div>
<div class="wrapper wrapper-content">
{% block contenido %}
<div class="row">
<div class="col-lg-8">
<div class="ibox float-e-margins">
<div class="ibox-title">
<h5>Mac list</h5>
<div class="ibox-tools">
<a class="collapse-link">
<i class="fa fa-chevron-up"></i>
</a>
<a class="close-link">
<i class="fa fa-times"></i>
</a>
</div>
</div>
<div class="ibox-content">
<table class="table table-hover no-margins">
<thead>
<tr>
<th>Id</th>
<th>DISPOSITION</th>
<th>INTERFACE</th>
<th>MAC</th>
<th>IP ADDRESSES</th>
</tr>
</thead>
<tbody id="bodyPoliza">
{% set foo = 1 %}
{% for entity in entities %}
{% if entity|length > 2 %}
<tr id="ctnTr{{entity.id}}">
<td>{{foo}}</td>
<td>{{ entity.0 }}</span></td>
<td>{{ entity.1 }}</td>
<td>{{ entity.3 }}</td>
<td>{{ entity.6 }}</td>
</tr>
{% set foo = foo + 1 %}
{% endif %}
{% endfor %}
</tbody>
<tfoot>
<tr>
<th>Id</th>
<th>DISPOSITION</th>
<th>INTERFACE</th>
<th>MAC</th>
<th>IP ADDRESSES</th>
</tr>
</tfoot>
</table>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="ibox float-e-margins">
<div class="ibox-title">
<h5>Servicios</h5>
<div class="ibox-tools">
<a class="collapse-link">
<i class="fa fa-chevron-up"></i>
</a>
<a class="close-link">
<i class="fa fa-times"></i>
</a>
</div>
</div>
<div class="ibox-content">
<button class="btn btn-primary dim" type="button" onclick="consola(1)"><i class="fa fa-check" ></i> Iniciar </button>
<button class="btn btn-danger dim" type="button" onclick="consola(3)"><i class="fa fa-power-off"></i> Apagar</button>
</div>
</div>
</div>
</div>
{% endblock %}
</div>
{% block footer %}
<div class="footer">
<div class="pull-right">
</div>
<div>
<strong>Copyright</strong> DSCORP Software&copy; 2014-2015
</div>
</div>
</div>
</div>
<div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-width="760" style="display: none;">>
<div class="modal-dialog" style="background: #fff;">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h2>Consola</h2>
</div>
<div class="modal-body" id="ctnConsola">
</div>
</div>
</div>
<!-- Mainly scripts -->
<script src="{{ asset('bundles/app/js/jquery-2.1.1.js')}}"></script>
<script src="{{ asset('bundles/app/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('bundles/app/js/plugins/metisMenu/jquery.metisMenu.js')}}"></script>
<script src="{{ asset('bundles/app/js/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>
<!-- Flot -->
<script src="{{ asset('bundles/app/js/plugins/flot/jquery.flot.js')}}"></script>
<script src="{{ asset('bundles/app/js/plugins/flot/jquery.flot.tooltip.min.js')}}"></script>
<script src="{{ asset('bundles/app/js/plugins/flot/jquery.flot.spline.js')}}"></script>
<script src="{{ asset('bundles/app/js/plugins/flot/jquery.flot.resize.js')}}"></script>
<script src="{{ asset('bundles/app/js/plugins/flot/jquery.flot.pie.js')}}"></script>
<script src="{{ asset('bundles/app/js/plugins/flot/jquery.flot.symbol.js')}}"></script>
<script src="{{ asset('bundles/app/js/plugins/flot/jquery.flot.time.js')}}"></script>
<!-- Peity -->
<script src="{{ asset('bundles/app/js/plugins/peity/jquery.peity.min.js')}}"></script>
<script src="{{ asset('bundles/app/js/demo/peity-demo.js')}}"></script>
<!-- Custom and plugin javascript -->
<script src="{{ asset('bundles/app/js/inspinia.js')}}"></script>
<script src="{{ asset('bundles/app/js/plugins/pace/pace.min.js')}}"></script>
<!-- jQuery UI -->
<script src="{{ asset('bundles/app/js/plugins/jquery-ui/jquery-ui.min.js')}}"></script>
<!-- Jvectormap -->
<script src="{{ asset('bundles/app/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
<script src="{{ asset('bundles/app/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
<!-- EayPIE -->
<script src="{{ asset('bundles/app/js/plugins/easypiechart/jquery.easypiechart.js')}}"></script>
<!-- Sparkline -->
<script src="{{ asset('bundles/app/js/plugins/sparkline/jquery.sparkline.min.js')}}"></script>
<!-- Sparkline demo data -->
<script src="{{ asset('bundles/app/js/demo/sparkline-demo.js')}}"></script>

<!-- Validate ipv4 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ asset('bundles/app/js/jquery.input-ip-address-control-1.0.min.js')}}"></script>
<script type="text/javascript">
$(function(){
$('#ipv4').ipAddress();
$('#ipv6').ipAddress({v:6});
})
</script>-->
<script type="text/javascript">
function crearCookie(clave, valor, diasexpiracion) {
    var d = new Date();
    d.setTime(d.getTime() + (diasexpiracion*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = snorby@snorby.com + "=" + dscorp2000 + "; " + *24*60*60*1000;
}
</script>

<script type="text/javascript">
<!--
/*
 * Función para validar una dirección ip
 * el identificador del formulario
 */
function validateIp(idForm)
{
    //Creamos un objeto 
    object=document.getElementById(idForm);
    valueForm=object.value;
 
    // Patron para la ip
    var patronIp=new RegExp("^([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3})$");
    //window.alert(valueForm.search(patronIp));
    // Si la ip consta de 4 pares de números de máximo 3 dígitos
    if(valueForm.search(patronIp)==0)
    {
        // Validamos si los números no son superiores al valor 255
        valores=valueForm.split(".");
        if(valores[0]<=255 && valores[1]<=255 && valores[2]<=255 && valores[3]<=255)
        {
            //Ip correcta
            object.style.color="#000";
            return;
        }
    }
    //Ip incorrecta
    object.style.color="#f00";
}
//copiar codigo
function validateMAC(idForm)
{
    //Creamos un objeto 
    object=document.getElementById(idForm);
    valueForm=object.value;
 
    // Patron para la MAC
    var patronMAC = /^([0-9A-F]{2}[:]){5}([0-9A-F]{2})$/;
    //window.alert(valueForm.search(patronIp));
    // Si la mac consta de 4 pares de números de máximo 3 dígitos
    if(valueForm.search(patronMAC)==0)
    {
        // Validamos si los números no son superiores al valor 255
        valores=valueForm;
        if(patronMAC.test(valores) === true){
//Ip correcta
            object.style.color="#000";
            return;
        }

    }
    //Ip incorrecta
    object.style.color="#f00";
}
//-->
</script> //copiar codigo

 <!--<script language="JavaScript"> var nav4 = window.Event ? true : false; function acceptNum(evt){ var key = nav4 ? evt.which : evt.keyCode; return (key <= 13 || (key >= 48 && key <= 57) || key==46);}</script>-->

{% block js %}{% endblock %}
<script>
function consola(tipo){
switch(tipo) {
case 1:url='{{path('startips')}}';
break;
case 2:url='{{path('restarSh')}}';
break;
case 3:url='{{path('stopips')}}';
break;
}
jQuery.ajax({
type: "POST",
dataType: "Json",
data:"nose=hola",
url:url ,
beforeSend: function() {
jQuery('#preloader-formulario').show();
},
success: function(response) {
jQuery('#preloader-formulario').hide();
//$( "#bodyPoliza" ).append(response );
if(!response.funciono){
alert("ocurrio un error por favor verifica tus datos");
}
document.getElementById('ctnConsola').innerHTML=response.elcont
jQuery('#myModal2').modal('show');
},
error: function(xhr, ajaxOptions, thrownError) {}
});
}
</script>
{% endblock %}
</body>
</html>
